---
import Layout from '../layouts/Layout.astro'
import { Tabs } from 'astro-tabs';
const teamMembers = [
  { name: 'James Henry', position: 'HOD', image: '/images/sample.png' },
  { name: 'John Doe', position: 'Assistant Proefssor', image: '/images/sample.png' },
  { name: 'Mykel Smith', position: 'Pofessor', image: '/images/sample.png' },
  { name: 'Angel Smith', position: 'Professor II', image: '/images/sample.png' }
];
const lecturers = [
  { name: 'James ', position: 'HOD', image: '/images/sample.png' },
  { name: 'hari', position: 'Assistant Proefssor', image: '/images/sample.png' },
  { name: 'Vatsala', position: 'Pofessor', image: '/images/sample.png' },
  { name: 'srinivasa', position: 'Professor II', image: '/images/sample.png' }
];
---

<Layout>


    <Tabs class="pass-your-own-class" class:list={['pass-your-class-list']}>
        <Fragment slot="tab-1" class = "tab1">2023-24</Fragment>
        <Fragment slot="tab-2" class="tab2">2024-25</Fragment>
        <Fragment slot="tab-3" class = "tab3">Faculties</Fragment>

        <Fragment slot="panel-1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <h2 class="fade-up uppercase text-6xl text-center">Faculty</h2>
    <div class="wrapper">
        <main class="content-container">
            <div class="mt-32 flex flex-col gap-8 items-center">
                <div class="card_Container">
                    {teamMembers.map((member) => (
                        <div class="card">
                            <div class="imbBx">
                                <img src={member.image} alt={member.name} />
                            </div>
                            <div class="content">
                                <div class="contentBx">
                                    <h3>{member.name} <br /><span>{member.position}</span></h3>
                                </div>
                            </div>
                        </div>
                    ))}
                </div>
            </div>
        </main>
    </div>
          </Fragment>

          <Fragment slot="panel-2">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <h2 class="fade-up uppercase text-6xl text-center">Faculty</h2>
    <div class="wrapper">
        <main class="content-container">
            <div class="mt-32 flex flex-col gap-8 items-center">
                <div class="card_Container">
                    {lecturers.map((member) => (
                        <div class="card">
                            <div class="imbBx">
                                <img src={member.image} alt={member.name} />
                            </div>
                            <div class="content">
                                <div class="contentBx">
                                    <h3>{member.name} <br /><span>{member.position}</span></h3>
                                </div>
                            </div>
                        </div>
                    ))}
                </div>
            </div>
        </main>
    </div>
          </Fragment>

          <Fragment slot="panel-3">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <h2 class="fade-up uppercase text-6xl text-center">Faculty</h2>
    <div class="wrapper">
        <main class="content-container">
            <div class="mt-32 flex flex-col gap-8 items-center">
                <div class="card_Container">
                    {teamMembers.map((member) => (
                        <div class="card">
                            <div class="imbBx">
                                <img src={member.image} alt={member.name} />
                            </div>
                            <div class="content">
                                <div class="contentBx">
                                    <h3>{member.name} <br /><span>{member.position}</span></h3>
                                </div>
                            </div>
                        </div>
                    ))}
                </div>
            </div>
        </main>
    </div>
        </Tabs>

</Layout>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    .pass-your-own-class{
        display: flex;
        justify-content: center;
        align-items: first baseline;
        height: 100vh;
        
    }

    .wrapper .title {
        text-align: center;
    }

    .wrapper .card_Container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 40px 0;
    }

    .card_Container .card {
        position: relative;
        width: 300px;
        height: 400px;
        margin: 20px;
        overflow: hidden;
        box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
                    inset 0 0 0 1000px rgba(22, 160, 133, .6);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card .imbBx, .imbBx img {
        width: 100%;
        height: 100%;
    }

    .card .content {
        position: absolute;
        bottom: -160px;
        width: 100%;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        backdrop-filter: blur(15px);
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        transition: bottom 0.5s;
        transition-delay: 0.65s;
    }

    .card:hover .content {
        bottom: 0;
        transition-delay: 0s;
    }

    .content .contentBx h3 {
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        margin: 20px 0 15px;
        line-height: 1.1em;
        transition: 0.5s;
        transition-delay: 0.6s;
        opacity: 0;
        transform: translateY(-20px);
    }

    .card:hover .content .contentBx h3 {
        opacity: 1;
        transform: translateY(0);
    }

    .content .contentBx h3 span {
        font-size: 12px;
        font-weight: 300;
        text-transform: initial;
    }

    .content .sci {
        position: relative;
        bottom: 10px;
        display: flex;
    }

    .content .sci li {
        list-style: none;
        margin: 0 10px;
        transform: translateY(40px);
        transition: 0.5s;
        opacity: 0;
        transition-delay: calc(0.2s * var(--i));
    }

    .card:hover .content .sci li {
        transform: translateY(0);
        opacity: 1;
    }

    .content .sci li a {
        color: #fff;
        font-size: 24px;
    }
    
    .fade-up {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1s ease-out forwards;
  }

</style>



<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <h2 class="fade-up uppercase text-6xl text-center">Faculty</h2>
    <div class="wrapper">
        <main class="content-container">
            <div class="mt-32 flex flex-col gap-8 items-center">
                <div class="card_Container">
                    {teamMembers.map((member) => (
                        <div class="card">
                            <div class="imbBx">
                                <img src={member.image} alt={member.name} />
                            </div>
                            <div class="content">
                                <div class="contentBx">
                                    <h3>{member.name} <br /><span>{member.position}</span></h3>
                                </div>
                            </div>
                        </div>
                    ))}
                </div>
            </div>
        </main>
    </div> -->